
.feed-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.news-newsletter {
    width: 100%;
}

.news-header {
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;

    & > .news-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-200%, -50%);
        font-weight: bold;
        font-size: 1.5rem;
        color: indianred;
    }

    & > .news-title {
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0 0 .1rem 0;
    }

    & > .news-date {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(110%, 0);

        &::after {
            content: '';
            position: absolute;
            width: 110%;
            left: -10%;
            bottom: 0;
            border: 1px solid;
            border-radius: 100%;
        }
    }
}

.news-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}