/* SignIn.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #212624;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  text-align: center;
  min-height: 60vh;
}

.card-container h1 {
  color: #ffffff;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  color-scheme: dark;
}

.input-group input::placeholder {
  color: #aaa;
}
.input-group.select {
  position: relative;
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
  }

  &::after {
    content: '▼';
    font-size: .7rem;
    color: white;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    pointer-events: none;
  }
  &:hover:focus-within::after {
    content: '▲';
  }
}

.input-group select option {
  background-color: #333; /* Fondo del selector */
  color: #ffffff; /* Color del texto en las opciones */
}

.input-group select:hover {
  background-color: #444; /* Cambio de color al pasar el ratón */
}

.input-group select:focus {
  outline: none; /* Elimina el contorno al estar enfocado */
  box-shadow: 0 0 5px #0070c9; /* Sombra al estar enfocado */
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #555; /* Cambiado a un tono de gris más oscuro */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #444; /* Un tono más oscuro al pasar el ratón */
}

.sign-up-link {
  color: #0070c9; /* Color azul para el enlace de Registrarse */
  text-decoration: none;
}

.sign-up-link:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

.LogIn-text {
  color: #ffffffb4;
}

/* SignUp.css */
.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.progress-step {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-number {
  font-size: 16px;
  color: #fff;
}

.progress-step.active {
  background-color: #7da8c9; /* Color azul para los pasos activos */
}

.progress-line {
  width: 100px; /* Ajusta la longitud de la línea */
  height: 3px; /* Ajusta el grosor de la línea */
  background-color: #ccc;
}



.progress-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.progress-line {
  width: 75px;
  height: 0; 
  border: .1rem solid #ccc;
  border-radius: 99rem;
}

.progress-blob {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 99rem;
  border: .2rem solid #ccc;

  transition: border-color 2s;

  &::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    transition: background-color 2s;
    z-index: -1;
  }
  &.active {
    border-color: #7da8c9;
  }
  &.active::after {
    background-color: #7da8c9;
  }
  &.full::after {
    width: 110%;
    height: 110%;
    border-radius: 99rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.half::after {
    width: 110%;
    height: 40%;
    border-radius: 99rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 15%);
    border-radius: 0 0 150px 150px;
  }
}