/* SignIn.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #212624;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  .container h1 {
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .input-group input::placeholder {
    color: #aaa;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #555; /* Cambiado a un tono de gris más oscuro */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #444; /* Un tono más oscuro al pasar el ratón */
  }
  
  .google-button {
    background-color: #db4437; /* Color de botón de Google */
  }
  
  .google-button:hover {
    background-color: #c1351d; /* Un tono más oscuro al pasar el ratón */
  }
  
  .sign-up-link {
    color: #0070c9; /* Color azul para el enlace de Sign Up */
    text-decoration: none;
  }
  
  .sign-up-link:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  /* Agregar estilo para el texto "Don't have an account?" */
  .container p {
    color: #ffffff;
  }
  